header {
  position: relative;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  
}

header .logo {
  width: 45px;
  height: 45px;
}


header nav {
  border-top: 1px solid #EEE; 
  padding: 5px 0;
}

header nav a {
  padding-right: 10px;
}

header .logos {
  display: inline-block;
  left: 0;
}


header .signs, header .user-head {
  line-height: 75px;
}

header .signs > div, header .user-head > div {
  display: inline-block;
}

header div.user-head-info {
  width: 150px;
  text-align: right;
}

header div.user-head-info img{
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

header .signs div.btns {
  color: #00897b; 
}

header .signs div.btns button {
  width: 45px;
  margin: 0 5px;
  color: inherit;
  /* border: 1px solid #00897b; */
}